<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="wrapper">

        <h1>GRA LOTTO</h1>

        <hr class="custom-line">

        <h2>Nie masz konta? Zarejestruj się</h2>
        <p th:if="${registerError}" th:text="${registerError}" style="color:red; text-align:center;"></p>

        <form th:action="@{/save-to-db}" th:method="post">
            <label>Imię</label><br>
            <input type="text" name="name" class="input-cl" required><br>
            <label>Wiek:</label><br>
            <input type="text" name="age" class="input-cl" required><br>
            <label>E-mail:</label><br>
            <input type="email" name="email" class="input-cl" required><br>
            <label>Hasło:</label><br>
            <input type="password" name="password" class="input-cl" required><br>

            <button type="submit" class="form-button">Zarejestruj się</button>
        </form>

        <hr class="custom-line">

        <h2>Masz konto? Zaloguj się</h2>
        <p th:if="${loginError}" th:text="${loginError}" style="color:red; text-align:center;"></p>

        <form th:action="@{/login}" th:method="post">
            <label>E-mail:</label><br>
            <input type="email" name="email" class="input-cl" required><br>
            <label>Hasło:</label><br>
            <input type="password" name="password" class="input-cl" required><br>

            <button type="submit" class="form-button">Zaloguj się i graj</button>
        </form>

    </div>

</body>
</html>
